pkgbase = rtl8821cu-dkms-git
	pkgdesc = Linux Driver for USB WiFi Adapters that use the RTL8811CU, RTL8821CU and RTL8731AU Chipsets
	pkgver = 5.8.1.7.99.e54b8f4
	pkgrel = 1
	url = https://github.com/morrownr/8821cu.git
	arch = i686
	arch = x86_64
	arch = armv7h
	license = GPL2
	makedepends = git
	depends = dkms
	depends = bc
	conflicts = rtl8821cu
	conflicts = rtl8821cu-git
	backup = etc/modprobe.d/8821cu.conf
	source = git+https://github.com/morrownr/8821cu
	sha256sums = SKIP

pkgname = rtl8821cu-dkms-git

